/* Common styles */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-left: 100px;
  margin-right: 100px;
  
}
@media (max-width: 768px) { /* Adjust the max-width as needed */
  .topbar {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 992px) { /* Adjust the max-width as needed */
  .topbar {
    margin-left: 0;
    margin-right: 0;
  }
}


.topbar-logo img {
  height: 50px;
  transition: transform 0.3s ease;
  margin-right: 410px;
}

.topbar-logo img:hover {
  transform: scale(1.1); /* Slightly enlarges the logo on hover */
}

.topbar-links a {
  margin: 0 45px;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease, border-bottom 0.3s ease;

  
  
}

.topbar-links a:hover {
  color: #007BFF; /* Changes text color on hover */
 
}

.topbar-auth button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-top: 12px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.topbar-auth button:hover {
  background-color: #0056b3; /* Darkens the button on hover */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-icon:hover {
  color: #007BFF; /* Changes the menu icon color on hover */
  transform: rotate(90deg); /* Adds a rotation effect on hover */
}

/* Large screen styles */
.large-screen {
  display: flex;
}

.small-screen {
  display: none;
}

/* Small screen layout */
.topbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  position: absolute;
  top: 60px; /* Adjust based on navbar height */
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.dropdown-menu a {
  margin: 5px 0;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.dropdown-menu a:hover {
  color: #007BFF; /* Changes text color on hover */
}

.dropdown-signin {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-signin:hover {
  background-color: #0056b3; /* Darkens the button on hover */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}

/* Responsive behavior */
@media (max-width: 1600px) {
  .large-screen {
    display: none;
  }

  .small-screen {
    display: flex;
    flex-direction: column;
  }

  .topbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
