/* Topbar.css */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
}

.topbar-logo img {
  height: 40px;
  width: auto;
}

.topbar-links {
  display: flex;
  gap: 30px;
  transition: max-height 0.3s ease;
  padding-left: 800px;
}

.topbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.topbar-links a:hover {
  color: #007bff;
}

.topbar-auth button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topbar-auth button:hover {
  background-color: #0056b3;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #333;
}

/* Responsive Design */
@media (max-width: 1300px) {
  .topbar-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
    padding-left: 20px;
 
    margin-top: 30px;
  }

  .topbar-links.open {
    max-height: 300px; /* Adjust depending on the number of links */
  }

  .menu-icon {
    display: block;
  }

  .topbar-auth button {
    display: none;
  }
}
